.hero-bg-color {
  background: rgba(18, 14, 44, 0.87);
  width: 100vw;
  height: 100vh;
}
#hero {
  background-image: url("../../../public/Assets/Images/Home/Herobgpc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
