@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

@font-face {
  font-family: light_pixel_7;
  src: url(../public/font/light_pixel_7/light_pixel-7.ttf);
}

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
    }
  }
  @return $shadow;
}
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

#navbar {
  .navbar-logo {
    color: #000;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.98px;
  }
  .navbar-pc-menu li {
    color: #000;
    font-family: "Syne", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .navbar-phone-sidemenu {
    width: 100vw;
    padding: 10vh 0;
    background-image: url("../public/assets/navbarmenubg.png");
    background-size: cover;
  }
  .navbar-phone-sidemenu li {
    color: #000;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
  }
}

#hero {
  background-image: url("../public/assets/Herobg.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 867px) {
    height: auto;
    padding-top: 15vh;
  }
  .hero-left-heading {
    color: #000;
    @include stroke(24, #fff);
    font-family: light_pixel_7;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 22px;
    @media (max-width: 867px) {
      font-size: 100px;
      letter-spacing: 11px;
      @include stroke(10, #fff);
    }
  }

  .hero-left-subheading-div {
    background-color: #000;
    border-radius: 30px;
    @media (max-width: 867px) {
      border-radius: 10px;
    }
  }
  .hero-left-subheading-text {
    color: #fff;
    font-family: light_pixel_7;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    @media (max-width: 867px) {
      font-size: 30px;
      letter-spacing: 1.2px;
    }
  }
  .hero-left-description {
    color: #000;
    font-family: "Noto Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: 867px) {
      font-size: 18px;
    }
  }
  .hero-img {
    @media (max-width: 867px) and (min-width: 468px) {
      max-height: 40%;
    }
    @media (max-width: 468px) {
      max-height: 50%;
    }
  }
  .hero-star1 {
    position: absolute;
    top: 16%;
    left: 60%;
    @media (max-width: 867px) {
      width: 20%;
      top: 30%;
    }
  }
  .hero-star2 {
    position: absolute;
    left: 0;
    top: 20%;
    @media (max-width: 867px) {
      display: none;
    }
  }
  .hero-star3 {
    position: absolute;
    right: 0;
    top: 30%;
    @media (max-width: 867px) {
      display: none;
    }
  }
  .hero-phone-star2 {
    display: none;
    @media (max-width: 867px) {
      display: block;
      position: absolute;
      right: 0;
      top: 60%;
    }
  }
}

#Tokenomics {
  background-image: url("../public/assets/tokenomicsbg.png");
  background-size: cover;
  padding: 9vh 0;
  .tokenomics-title {
    color: #000;
    @include stroke(9, #fff);
    font-family: light_pixel_7;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    @media (max-width: 867px) {
      -webkit-text-stroke-width: 5;
      font-size: 40px;
      letter-spacing: 1.6px;
    }
  }
  .tokenomics-description {
    color: #d0d0d0;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 867px) {
      font-size: 16px;
    }
  }
  .tokenomics-card1 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tokenomics-card2 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tokenomics-card3 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tokenomics-card4 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tokenomics-card-text {
    color: #000;
    text-align: center;
    @include stroke(2, #fff);
    font-family: light_pixel_7;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.8px;
    position: absolute;
    @media (max-width: 867px) {
      font-size: 15px;
      letter-spacing: 0.64px;
    }
  }
  .tokenomics-contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border: 2px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.85);
  }
  .tokenomics-contact-title {
    color: #000;
    @include stroke(2, #fff);
    font-family: light_pixel_7;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.84px;
    @media (max-width: 867px) {
      text-align: center;
      font-size: 18px;
      line-height: 31px;
      letter-spacing: 0.18px;
    }
  }
  .tokenomics-contact-id {
    color: #fff;
    font-family: light_pixel_7;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.84px;
    @media (max-width: 867px) {
      text-align: center;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.16px;
    }
  }
  .tokenomics-star1 {
    position: absolute;
    top: 5%;
    left: 0;
    @media (max-width: 867px) {
      display: none;
    }
  }
  .tokenomics-star2 {
    position: absolute;
    top: 15%;
    left: 70%;
    @media (max-width: 867px) {
      display: none;
    }
  }
  .tokenomics-star3 {
    position: absolute;
    top: 65%;
    right: 2%;
    @media (max-width: 867px) {
      display: none;
    }
  }
  .tokenomicsphonestar {
    display: none;
    @media (max-width: 867px) {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

#HowToBuy {
  background-image: url("../public/assets/howtobuybg.png");
  background-size: cover;
  padding: 5vh 0;
  .HowToBuy-title {
    color: #000;
    @include stroke(9, #fff);
    font-family: light_pixel_7;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    @media (max-width: 867px) {
      -webkit-text-stroke-width: 5;
      font-size: 40px;
      letter-spacing: 1.6px;
    }
  }
  .howtobuytext {
    color: #fff;
    font-family: "Noto Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 28%;
    @media (max-width: 867px) {
      font-size: 18px;
      width: 100%;
    }
  }
  .howtobuy-star {
    position: absolute;
    top: 10%;
    left: 65%;
    @media (max-width: 867px) {
      display: none;
    }
  }
  .howtobuy-starphone {
    display: none;
    @media (max-width: 867px) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 35%;
    }
  }
}
#Roadmap {
  background-image: url("../public/assets/Roadmapbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  .roadmap-title {
    color: #000;
    @include stroke(9, #fff);

    font-family: light_pixel_7;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    @media (max-width: 867px) {
      font-size: 40px;
      letter-spacing: 1.6px;
    }
  }
  .roadmap-description {
    color: #d9d9d9;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 867px) {
      font-size: 16px;
    }
  }
  .roadmap-card {
    width: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    @media (max-width: 867px) {
      width: 100%;
    }
  }
  .roadmap-card-title {
    color: #fafafa;
    text-align: center;
    font-family: light_pixel_7;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
    @media (max-width: 867px) {
      font-size: 28px;
    }
  }
  .roadmap-card-description {
    color: #d5d5d5;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 90%;
    line-height: normal;
    @media (max-width: 867px) {
      font-size: 16px;
    }
  }
  .roadmap-star1 {
    position: absolute;
    right: 1%;
    top: 4%;
  }
  .roadmap-star2 {
    position: absolute;
    right: 15%;
    top: 25%;
  }
  .roadmap-star3 {
    position: absolute;
    left: 0%;
    top: 65%;
  }
}
