@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  width: 100% !important;
  overflow-x: hidden !important;
}
.border-test{
  border: 1px solid red;
}
.custom-width-45{
  width: 45%;
}